.carousel {
    width: 90%;
    margin: 0 auto;
}

.items {
    width: 100%;
    height: 90%;
    flex: 1;
    justify-content: center;
    margin: 0;
}

.item {
    margin: 0 10px;
    padding: 10px;
    width: 42%;
    min-width: 0;
    position: relative;
}

b, p {
    color: #464646;
}

.content {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title {
    max-width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}